<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body class="text-center">
<h1>Pixabay Image Search</h1>

<form action="/searchImage" method="POST" class="text-center">
  <label for="keyword">Keyword   </label><input type="text" name="keyword" id="searchTerms"><br>
  <label for="Orientation">Orientation   </label>
  <select name="Orientation" id="chosenOrientation">
    <option value="vertical">Vertical</option>
    <option value="horizontal">Horizontal</option>
  </select><br>
  <button class="btn btn-primary">Search</button>
</form>
